.center-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav-link {
    display: flex;
    margin-right: 200px; 
}
.navbar-brand{
    width: 100%;
    margin-right: 150px;
}
.halo{
    background-color: rgb(11, 72, 52);
}
.navbar-expand-lg{
    background: linear-gradient(#ffffff 0%, #afabf9 40%, #011c62 100%);
}
#carouselExampleFade {
    max-width: 60%; 
    margin: 0 auto; 
}


.pisah{
    padding-bottom: 0px;
    margin-top: 50px;
    background: linear-gradient(#ffffff 10%, #afabf9 10%, #001342 90%);
}
.dragon{
    margin-top: 20px;
    margin-right: 54px ;
}
.Sherina{
    margin-right: 110px;
    margin-left: 90px ;
    margin-top: 10px;
}
.bagian{
    padding-bottom: 90px;
    background: linear-gradient(#ffffff 0%, #afabf9 40%, #001342 100%);
}



.card {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: auto;
    display: block;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .button-container {
    opacity: 1;
}

.card-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}

.bg {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0%;
}

.card-body {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
}

.card:hover .card-body{
    display: flex;
    color: white;
}

.card:hover .bg{
    opacity: 40%;
}
